In [1]:
import pandas as pd

In [5]:
groups = ["modern web","devops","cloud","big data","security","自我挑戰組"]
ironmen = [59,9,19,14,6,77]
ironmen_dict = {"groups":groups,"ironmen":ironmen}
ironmen_df = pd.DataFrame(ironmen_dict)
ironmen_df

       groups  ironmen
0  modern web       59
1      devops        9
2       cloud       19
3    big data       14
4    security        6
5       自我挑戰組       77

In [6]:
print(ironmen_df.sum()) #算鐵人總數
print(ironmen_df.mean()) #算平均
print(ironmen_df.median()) #算中位數
print(ironmen_df.describe()) #列出所有描述性統計

groups     modern webdevopscloudbig datasecurity自我挑戰組
ironmen                                           184
dtype: object
ironmen    30.666667
dtype: float64
ironmen    16.5
dtype: float64
         ironmen
count   6.000000
mean   30.666667
std    29.803803
min     6.000000
25%    10.250000
50%    16.500000
75%    49.000000
max    77.000000

In [7]:
import numpy as np
groups = ["modern web",'devops',np.nan,'big data','security','自我挑戰組']
ironmen = [59,9,19,14,6,np.nan]
ironmen_dict = {"groups":groups,"ironmen":ironmen}
ironmen_df = pd.DataFrame(ironmen_dict)
print(ironmen_df)
print('---')
print(ironmen_df.loc[:,'groups'].isnull())
print('---')
print(ironmen_df.loc[:,'ironmen'].notnull())

       groups  ironmen
0  modern web     59.0
1      devops      9.0
2         NaN     19.0
3    big data     14.0
4    security      6.0
5       自我挑戰組      NaN
---
0    False
1    False
2     True
3    False
4    False
5    False
Name: groups, dtype: bool
---
0     True
1     True
2     True
3     True
4     True
5    False
Name: ironmen, dtype: bool