In [8]:
#隨機產生dataftame資料
import numpy as np
import pandas as pd
frame = pd.DataFrame(np.random.rand(4,4),index=list('abcd'),columns=list('ABCD'))
frame

          A         B         C         D
a  0.939683  0.310888  0.899876  0.664940
b  0.036745  0.950336  0.601265  0.091394
c  0.797571  0.749015  0.651020  0.210185
d  0.897223  0.604213  0.933538  0.810406

In [9]:
#loc用欄位來找出dataftame資料
#iloc用索引來找出dataftame資料
frame.describe()

              A         B         C         D
count  4.000000  4.000000  4.000000  4.000000
mean   0.667805  0.653613  0.771425  0.444231
std    0.424902  0.268977  0.169541  0.347404
min    0.036745  0.310888  0.601265  0.091394
25%    0.607365  0.530882  0.638581  0.180488
50%    0.847397  0.676614  0.775448  0.437563
75%    0.907838  0.799345  0.908292  0.701307
max    0.939683  0.950336  0.933538  0.810406

In [10]:
frame.loc['a','A']

0.9396826225197525

In [13]:
#取兩列資料
frame.loc['a':'b',:]

          A         B         C         D
a  0.939683  0.310888  0.899876  0.664940
b  0.036745  0.950336  0.601265  0.091394

In [14]:
#取前兩欄之資料
frame.loc[:,'A':'B']

          A         B
a  0.939683  0.310888
b  0.036745  0.950336
c  0.797571  0.749015
d  0.897223  0.604213

In [16]:
#取特殊列，欄的資料
print(frame.loc[['a','c'],:])
print(frame.loc[:,['A','C']])
print(frame.loc[['a','d'],['A','D']])

          A         B         C         D
a  0.939683  0.310888  0.899876  0.664940
c  0.797571  0.749015  0.651020  0.210185
          A         C
a  0.939683  0.899876
b  0.036745  0.601265
c  0.797571  0.651020
d  0.897223  0.933538
          A         D
a  0.939683  0.664940
d  0.897223  0.810406

In [17]:
frame.iloc[0,0]

0.9396826225197525

In [18]:
#取前兩列資料
frame.iloc[0:2,:]

          A         B         C         D
a  0.939683  0.310888  0.899876  0.664940
b  0.036745  0.950336  0.601265  0.091394

In [19]:
#取兩列兩欄資料
frame.iloc[0:2,0:2]

          A         B
a  0.939683  0.310888
b  0.036745  0.950336

In [23]:
#取特殊列欄資料
print(frame.iloc[[0:2],:])

SyntaxError: invalid syntax (<ipython-input-23-55aca0d105bb>, line 2)